# Backend
backend/venv/
backend/.env
backend/__pycache__/
backend/**/__pycache__/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/.env

# Editor y sistema
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.local